<div class="margin-options-pane">
    <a href="/aprendamos/classrooms/update/{@classroomId}" class="btn btn-primary">Editar turma</a>
    <button class="btn btn-danger" id="button-remove">Remover turma</button>
</div>