<div>
    <h5>Minhas turmas</h5>
    <hr />
</div>
<div class="margin-options-pane">
    <a href="/aprendamos/classrooms/create" class="btn btn-primary">Nova turma</a>
</div>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Nome da turma</th>
            <th>Descrição</th>
            <th>Papel</th>
        </tr>
    </thead>
    <tbody>
        {@classrooms}
    </tbody>
</table>