<tr>
    <td><a href="/aprendamos/assignments/index/{@assignmentId}?classroom={@classroomId}">{@assignmentName}</a></td>
    <td>{@assignmentDeadline}</td>
    <td>{@assignmentStatus}</td>
    <td>
        <a href="/aprendamos/assignments/update/{@assignmentId}?classroom={@classroomId}">Editar</a>
        <a href="/aprendamos/assignments/remove/{@assignmentId}?classroom={@classroomId}">Remover</a>
    </td>
</tr>