<div class="margin-options-pane">
    <a href="/aprendamos/reports/create?assignment={@assignmentId}&classroom={@classroomId}" class="btn btn-primary">Corrigir atividade</a>
    <a href="/aprendamos/reports/index?assignment={@assignmentId}" class="btn btn-primary">Relatório</a>
</div>