<div>
    <h5>{@assignmentName}</h5>
    <hr />
</div>
{@options}
<div class="p-2 mb-2 rounded border" style="height: 400px;"> <!-- remover atributo style -->
    <strong>Descrição da atividade: </strong> <br />
    {@assignmentDescription}
</div>
<div>
    Data de entrega: {@assignmentDeadline} ({@assignmentStatus})
</div>