<tr>
    <td><a href="/aprendamos/assignments/index/{@assignmentId}?classroom={@classroomId}">{@assignmentName}</a></td>
    <td>{@assignmentDeadline}</td>
    <td>{@assignmentStatus}</td>
    <td>{@assignmentGrade}</td>
</tr>