<form action="/aprendamos/enrollments/create?classroom={@classroomId}" method="POST" class="margin-options-pane">
    <div class="row">
        <label for="input-username" class="col-md-2 col-form-label">Adicione um usuário:</label>
        <input type="text" name="username" placeholder="Nome de usuário (ex.: jsouza)" class="form-control col-md-3" id="input-username" />
        <button type="submit" class="btn btn-primary col-md-1 ml-3">Adicionar</button>
    </div>
</form>