<div>
    <h5>Participantes da turma</h5>
    <hr />
</div>
{@options}
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Nome</th>
            <th>Papel</th>
            {@removeHeader}
        </tr>
    </thead>
    <tbody>
        {@enrollments}
    </tbody>
</table>