<div>
    <h5>{@questionTitle}</h5>
    <hr />
</div>
<div class="row">
    <div class="col-md rounded bg-light border mb-3 p-3">
        {@questionDescription}
    </div>
</div>
<div>
    <h5>Respostas</h5>
    <hr />
</div>
<div class="margin-options-pane">
    <a href="/aprendamos/forum/index/{@questionId}/reply?classroom={@classroomId}" class="btn btn-primary">Responder</a>
</div>
<div>
    {@answers}
</div>