<div>
    <h5>Corrigir atividade</h5>
    <hr />
</div>
<form action="/aprendamos/reports/create?classroom={@classroomId}&assignment={@assignmentId}" method="POST">
    <div class="row">
        {@gradeForms}
    </div>
    <button type="submit" class="btn btn-primary">Corrigir</button>
</form>