<div class="row">
    <div class="col-md-4">
        Média da turma: {@average}
    </div>
    <div class="col-md-4">
        Participantes acima da média: {@overAverage}
    </div>
    <div class="col-md-4">
        Participantes abaixo da média: {@belowAverage}
    </div>
</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Participante</th>
            <th>Nota</th>
        </tr>
    </thead>
    <tbody>
        {@reports}
    </tbody>
</table>